bottle==0.12.9
cffi==1.8.3
click==6.7
Flask==0.12.2
Flask-SocketIO==2.9.3
Flask-RESTful==0.3.6
itsdangerous==0.24
Jinja2==2.8
jpegtran-cffi==0.5.2
lupa==1.6
MarkupSafe==1.0
pexpect==4.2.1
polib==1.0.7
ptyprocess==0.5.2
pycparser==2.18
pyjade==4.0.0
PyYAML==3.11
six==1.11.0
Werkzeug==0.13
